<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan
            base-package="com.zhangxin.demon,com.zhangxin.demon.provider"></context:component-scan>

    <import resource="classpath:data/spring_database.xml"></import>
    <import resource="classpath:dubbo/dubbo_provider.xml"></import>
    <import resource="classpath:kafka/spring_kafka_consumer.xml"></import>
    <import resource="classpath:kafka/spring_kafka_producer.xml"></import>

</beans>