<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 应用名 -->
    <dubbo:application name="demon-provider"></dubbo:application>
    <!-- 连接到哪个注册中心 -->
    <dubbo:registry address="zookeeper://111.231.193.179:2181?backup=192.168.3.72:2181,192.168.3.73:2181,192.168.3.74:2181"></dubbo:registry>
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880"></dubbo:protocol>
    <!-- 具体的实现bean -->
    <!--<bean id="demonService" class="com.zhangxin.demon.provider.DemonServiceImpl"></bean>-->
    <!-- 声明需要暴露的服务接口 -->
    <!--<dubbo:service interface="com.zhangxin.demon.service.DemonService" ref="demonService"  group="demon"></dubbo:service>-->
    <!-- 扫描注解包路径，多个包用逗号分隔，不填pacakge表示当前ApplicationContext中所有的类 -->
    <dubbo:annotation package="com.zhangxin.demon"></dubbo:annotation>
</beans>