<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 消费者 -->
    <dubbo:application name="demon-cunsumer"></dubbo:application>
    <!-- 连接到哪个注册中心 -->
    <dubbo:registry protocol="zookeeper" address="111.231.193.179:2181"></dubbo:registry>
    <!--设置超时时间 -->
    <dubbo:provider timeout="60000"></dubbo:provider>
    <dubbo:reference id="demonServiceImpl" interface="com.zhangxin.demon.service.DemonService"></dubbo:reference>

</beans>